.side-bar
  .user-name
    .top-items
      %p.top-items__name
        = current_user.name
      %ul.top-items__icons
        %li.top-items__icons__new-group
          = link_to new_group_path do
            = icon('far', 'edit')
        %li
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__new-message
            = group.show_last_message